
  <mat-card class="card-container" style="width:70%; margin:30px auto">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-family:'Lucida Calligraphy';color:red;font-weight:bold;font-size:x-large">Trilok Bachik Pathshala</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://triloktsc.files.wordpress.com/2013/09/logo-final.jpg" alt="" style="width:100%; margin:5px auto;">
    <mat-card-content>
      <p>
        আজ ১৭ সেপ্টেম্বর ২০২১ শুক্রবার রাত ৯:৩০ মিনিটে মাসুম আজিজুল বাসারের উপস্থাপনায় ত্রিলোকের অফিসিয়াল ফেসবুক পেজ ও ইউটিউব চ্যানেল থেকে সরাসরি সম্প্রচারিত হবে ত্রিলোকের নিয়মিত অনলাইন আয়োজনের ২য় মৌসুমের অনুষ্ঠান "নিশুতি বিভা" এবারের আয়োজনে গান শোনাবেন ভারতের আসাম থেকে সঙ্গীতশিল্পী...
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-container" style="width:70%; margin:30px auto">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-family:'Lucida Calligraphy';color:red;font-weight:bold;font-size:x-large">
        কামাল পাশা | Trilok Bachik Pathshala: ত্রিলোক বাচিক পাঠশালা
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://triloktsc.files.wordpress.com/2013/09/7_093.jpg" alt="" style="width:100%; margin:5px auto;">
    <mat-card-content>
      <p>
        ঐ ক্ষেপেছে পাগ্লী মায়ের দামাল ছেলে কামাল ভাই,
        অসুর-পুরে শোর উঠেছে জোরসে সামাল সামাল তাই।
        কামাল! তু নে কামাল কিয়া ভাই।
        হো হো কামাল! তু নে কামাল কিয়া ভাই।………..
      </p>
    </mat-card-content>
  </mat-card>

